# URL pública para acceder al Gateway mediante navegador (Swagger UI)
# Ejemplos:
#   http://localhost:8080
#   http://203.0.113.10:8080
#   https://www.ejemplo.com
ALLOWED_ORIGIN=http://TU_IP_PUBLICA_O_DOMINIO_AQUI:8080